body {
  margin: 0;
  font-family: sans-serif;
  background: #0d0d8f;
  color: white;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(10, 120px); 
  gap: 20px;
  padding: 20px;
  grid-template-areas:
    "lorem culpa . ."
    "mollit mollit . ."
    "officia fugiat . ."
    "exercitation exercitation . ."
    "ullamco laboris . ."
    "magna magna . ."
    "consectetur consectetur . ."
    "excepteur excepteur . ."
    "pariatur pariatur . ."
    "dolares dolares . .";
}

.item {
  background: #e9e9f3;
  border: 5px solid #0d0d8f;
  color: #0d0d8f;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  text-transform: capitalize;
}

.item.lorem { grid-area: lorem; }
.item.culpa { grid-area: culpa; }
.item.mollit { grid-area: mollit; }
.item.officia { grid-area: officia; }
.item.fugiat { grid-area: fugiat; }
.item.exercitation { grid-area: exercitation; }
.item.ullamco { grid-area: ullamco; }
.item.laboris { grid-area: laboris; }
.item.magna { grid-area: magna; }
.item.consectetur { grid-area: consectetur; }
.item.excepteur { grid-area: excepteur; }
.item.pariatur { grid-area: pariatur; }
.item.dolares { grid-area: dolares; }